<!-- Your exercise_plan.ejs file -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Plan</title>
    <link rel="stylesheet" href="/styles/exercise_plan.css">
</head>

<body>
    <%- include('partials/navbar_green') %>
    <% if (exerciseRecommendations.length === 0) { %>
        <p>No exercises found for this category.</p>
    <% } else { %>
        <% exerciseRecommendations.forEach((category) => { %>

            <!-- Add a class based on the category -->
            <div class="category-container <%= category.category.toLowerCase().replace(/\s+/g, '-') %>">

                

                <h1 class="weight-catagory-heading">For <%= category.category %> People</h1>
                <h1 id="exercise-plan-header">EXERCISE & DIET PLAN!</h1>
                <!-- Add this button to navigate to the Underweight Diet Recipes page -->
                <% if (category.category === 'Underweight') { %>
                    <a href="/underweight_diet_recipes" class="underweight-btn-receipe">Underweight Diet Recipes</a>
                <% } else if (category.category === 'Overweight') { %>
                    <a href="/overweight_diet_recipes"><button>Overweight Diet Recipes</button></a>
                    <a href="/weightloss_diet_recipes"><button>Weightloss Diet Recipes</button></a>
                <% } else if (category.category === 'Normal weight') { %>
                    <a href="/keto_diet_recipes"><button>Keto Diet Recipes</button></a>
                    <a href="/lowcarb_diet_recipes"><button>Lowcarb Diet Recipes</button></a>
                <% } %>

                <% Object.keys(category.exercises).forEach((subcategory) => { %>
                    <div class="exercise-item">
                        <div class="exercise_area_headings">
                            <h3 class="body-area-heading"><%= subcategory %></h3>
                        </div>
                        <div class="exercise_name_video">
                            <% category.exercises[subcategory].forEach((exercise) => { %>
                                <div class="exercise_name_video_separate">
                                    <div class="exercise_name_headings">
                                        <h4 class="exercise-name-heading"><%= exercise.name %></h4>
                                    </div>
                                    <!-- Use the YouTube iframe embed code -->
                                    <div class="video_container">
                                        <div class="videos"><iframe width="300" height="200"
                                                src="https://www.youtube.com/embed/<%= exercise.videoId %>?"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe></div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    <% } %>
</body>

</html>
